@import '../../assets/sass/variables.scss';

.home-google {
    max-width: 1200px;
    margin: auto;
    color: $color-gray;
    display: flex;
    justify-content: space-between;
    margin-top: 80px;

    .texto {
        max-width: 38%;
        text-align: right;    
    }

    h3 {
        font-size: 2em;
        margin-top: 50px;
        text-align: right;
    }

    p {
        font-size: 1.2em;
        line-height: 1.5em;
        max-width: 100%;
        padding-left: 25%;
        text-align: right;
    }
}