@import '../../assets/sass/variables.scss';


.container {
	max-width: 1200px;
  margin: 0 auto;

  .header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    height: 178px;
    flex-wrap: wrap;

    .logo-nav {
      width: 150px;
    }
    .nav-link {
      padding: 10px;
      margin-left: 10px;
      margin-bottom: 10px;
      color: $color-white;
      text-decoration: none;
      font-size: 0.9em;
      transition: 0.3s;

      &:hover {
        color: $color-blue-dark;
      }
    }
  }
}

.header-block {
  transition: 500ms;
  width: 100%;
  height: 85px;
  background-color: $color-white;
  position: fixed;
  z-index: 1000;

  .logo-nav {
    width: 150px;
  }
  .nav-link {
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
    color: $color-blue-dark !important;
    text-decoration: none;
    font-size: 0.9em;
    transition: 0.3s;

    &:hover {
      color: $color-blue-dark;
    }
  }

}















