@import './variables.scss';
@import './normalize.scss';

body {
  background-image: url(../img/back_top.svg);
  background-size: cover;
  background-position-x: center;
  background-size: 180rem;
  background-position-y: -100px;
  background-repeat: no-repeat;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
}

@media (min-width: 1069px) {
  body{
    background-size: 200rem;
  }
}
